<section class="flex flex-col justify-center items-center ">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto h-87 lg:py-0">
    <div class="w-full mb-10vh bg-white rounded-lg shadow  md:mt-0 sm:max-w-md xl:p-0">
      <div class="p-6  space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight md:text-2xl flex justify-center">
          Sign in to your account
        </h1>
        <form class="space-y-4 md:space-y-6">
          <div class="field col-12 md:col-4">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <i class="pi pi-user"></i>
              </span>
              <span class="p-float-label">
                <input type="text" id="username" name="username" [ngClass]="{'ng-invalid ng-dirty':!username}" pInputText [(ngModel)]="username" />
                <label for="username">Username</label>
              </span>
            </div>
          </div>
          <div class="field col-12 md:col-4">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                <i class="pi pi-key"></i>
              </span>
              <span class="p-float-label">
                <p-password id="password" name="password" [(ngModel)]="password" [ngClass]="{'ng-invalid ng-dirty':!password}" [toggleMask]="true" class="w-full" [feedback]="false"></p-password>
                <label for="password">Password</label>
              </span>
            </div>
          </div>
          <div class="field col-12 md:col-4">

            <button pButton label="Login" class="p-button-primary w-full" (click)="login()" ></button>
          </div>
          <p class="text-sm font-light text-gray-500 ">
            Don’t have an account yet? <a
              class="font-medium text-primary-600 hover:underline cursor-pointer" (click)="toInscription()">Sign up</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
