<div class="flex flex-row justify-center h-95% items-center" *ngIf="images">

  <p-galleria [value]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '640px'}"
    [numVisible]="5" [circular]="true" [showItemNavigators]="true" [showItemNavigatorsOnHover]="true" [autoPlay]="true">
    <ng-template pTemplate="item" let-item>
      <div class="flex justify-center items-center  border-2 border-black border-solid p-2" style="width: 640px; height:640px;">
        <img [src]="item.image" [id]="item.id"  style="width:100%; display: block; "
          (click)="test($event)" class="" />
      </div>
    </ng-template>
    <ng-template pTemplate="thumbnail" let-item>
      <div class="grid grid-nogutter">
        <img [src]="item.image" style="display: block; height: 50px;" />
      </div>
    </ng-template>
  </p-galleria>
</div>
